* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(rgb(0, 0, 0), rgb(63, 231, 63), rgb(136, 136, 179));
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding-bottom: 40px;
  margin: 10px;
  font-size: 50px;
}

#foto-perfil {
  padding: 30px;
  max-height: 350px;
  max-width: 300px;
  width: 320px;
  height: 320px;
  margin-left: 200px;
}
#Write-your-number-baby {
  border: 5px solid salmon;
  width: 450px;
  padding: 20px;
  margin: 15px;
}
a {
  border-style: dashed;
}
